<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3 mt-4">
          <div class="card-body">
            <h4 class="card-title">{{ 'Listado de pruebas programadas' | translate | async }}</h4>
            <div class="row">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">{{ 'Rol' | translate | async }}</th>
                    <th scope="col">{{ 'Tipo de prueba' | translate | async }}</th>
                    <th scope="col">{{ 'Prueba' | translate | async }}</th>
                    <th scope="col">{{ 'Estado' | translate | async }}</th>
                    <th scope="col">{{ 'Acción' | translate | async }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let assignment of assignments; index as i">
                    <td> {{ assignment.rol | translate | async }}</td>
                    <td> {{ assignment.type| translate | async }}</td>
                    <td> {{ assignment.focus| translate | async }}</td>
                    <td> {{ assignment.status| translate | async }}</td>
                    <td>
                      <button type="button" class="btn btn-link" *ngIf="assignment.status != 'finished'" (click)="start(assignment, i)">{{ 'Iniciar' | translate | async }}</button>
                      <button type="button" class="btn btn-link" *ngIf="assignment.status == 'finished'" (click)="result(assignment, i)">{{ 'Resultados' | translate | async }}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Modal test-->
 <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Prueba técnica en '+assignment?.focus | translate | async }}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-assignment-test [assignment]="assignment"></app-assignment-test>
      </div>

    </div>
  </div>
</div>

<!-- Modal result-->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Prueba técnica en '+assignment?.focus | translate | async }}</h5>
      </div>
      <div class="modal-body">
        <app-assignment-result [assignment]="assignment"></app-assignment-result>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cerrar' | translate | async }}</button>
      </div>
    </div>
  </div>
</div>

