<div class="bs-docs-section">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="bs-component">
        <div class="card bg-light mb-3 mt-4">
          <div class="card-body">
            <h4 class="card-title text-center">{{ 'Iniciar sesión' | translate | async }}</h4>
            <form [formGroup]="loginForm" (ngSubmit)="!loginForm.invalid && login()">
              <div class="row">
                <div class="form-group col-lg-12">
                  <label for="link">Email:</label>
                  <input class="form-control" id="email" type="text" formControlName="email">
                </div>
                <div class="form-group col-lg-12">
                  <label for="password">Contraseña:</label>
                  <input class="form-control" id="password" type="password" formControlName="password">
                </div>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">{{ 'INGRESAR' | translate | async }}</button>
                <hr class="my-4">
                <p class="lead text-center">{{ '¿No tienes cuenta?' | translate | async }}</p>
                <button type="submit" class="btn btn-warning btn-lg" (click)="home()">{{ 'REGISTRARSE' | translate | async }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
