<div class="bs-docs-section" *ngIf="candidates">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3 mt-4">
          <div class="card-body">
            <h4 class="card-title">Listado de candidatos</h4>
            <div class="row text-center">
              <div class="col-md-3" *ngFor="let candidate of candidates">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <img src="../../../../../assets/perfil.jpeg" alt="Imagen de perfil" class="imagen-de-perfil" />
                    <h5><b>{{ candidate.Nombre }}  {{ candidate.apellido }}</b></h5>
                    <p class="card-text">{{ candidate.educacion[0].rol }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
