<span><b>{{ 'Nombre' | translate | async }}: </b>{{candidate?.Nombre}} {{candidate?.apellido}}</span><br>
<span><b>{{ 'Documento' | translate | async }}: </b>{{candidate?.tipo_documento}} {{candidate?.documento}}</span><br>
<span><b>{{ 'Email' | translate | async }}: </b>{{candidate?.email}}</span><br>
<span><b>{{ 'Telefono' | translate | async }}: </b>{{candidate?.telefono}}</span><br>
<span><b>{{ 'Fecha de nacimiento' | translate | async }}: </b>{{candidate?.fecha_nacimiento}}</span><br>
<span><b>{{ 'Pais de nacimiento' | translate | async }}: </b>{{candidate?.pais_nacimiento}}</span><br>
<span><b>{{ 'Ciudad de nacimiento' | translate | async }}: </b>{{candidate?.ciudad_nacimiento}}</span><br>
<span><b>{{ 'Pais de residencia' | translate | async }}: </b>{{candidate?.pais_residencia}}</span><br>
<span><b>{{ 'Ciudad de residencia' | translate | async }}: </b>{{candidate?.ciudad_residencia}}</span><br>
<span><b>{{ 'Educación' | translate | async }}: </b><br>
<table>
  <thead>
    <tr>
      <th>{{ 'Institución' | translate | async }}</th>
      <th>{{ 'Nivel Académico' | translate | async }}</th>
      <th>{{ 'Título Obtenido' | translate | async }}</th>
      <th>{{ 'Fecha de Inicio' | translate | async }}</th>
      <th>{{ 'Fecha de Fin' | translate | async }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let educacionItem of candidate?.educacion">
      <td>{{ educacionItem.institucion }}</td>
      <td>{{ educacionItem.nivel_academico }}</td>
      <td>{{ educacionItem.titulo_obtenido }}</td>
      <td>{{ educacionItem.fecha_inicio }}</td>
      <td>{{ educacionItem.fecha_fin }}</td>
    </tr>
  </tbody>
</table>
<span><b>{{ 'Experiencia' | translate | async }}: </b><br>
<table>
  <thead>
    <tr>
      <th>{{ 'Empresa' | translate | async }}</th>
      <th>{{ 'País' | translate | async }}</th>
      <th>{{ 'Ciudad' | translate | async }}</th>
      <th>{{ 'Cargo' | translate | async }}</th>
      <th>{{ 'Rol' | translate | async }}</th>
      <th>{{ 'Fecha de Inicio' | translate | async }}</th>
      <th>{{ 'Fecha de Fin' | translate | async }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let experienciaItem of candidate?.experiencia">
      <td>{{ experienciaItem.empresa }}</td>
      <td>{{ experienciaItem.pais }}</td>
      <td>{{ experienciaItem.ciudad }}</td>
      <td>{{ experienciaItem.cargo }}</td>
      <td>{{ experienciaItem.rol }}</td>
      <td>{{ experienciaItem.fecha_inicio }}</td>
      <td>{{ experienciaItem.fecha_fin }}</td>
    </tr>
  </tbody>
</table>
