<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3 mt-4">
          <div class="card-body">
            <h4 class="card-title">{{ 'Formación académica' | translate | async }}</h4>
            <div class="row">
              <div class="col-lg-12">
                <button type="button" class="btn btn-primary" (click)="createModal()">{{ 'Agregar' | translate | async }}</button>
              </div>
              <table class="table table-hover mt-4">
                <thead>
                  <tr>
                    <th scope="col">{{ 'Institución' | translate | async }}</th>
                    <th scope="col">{{ 'Nivel' | translate | async }}</th>
                    <th scope="col">{{ 'Título' | translate | async }}</th>
                    <th scope="col">{{ 'Pais' | translate | async }}</th>
                    <th scope="col">{{ 'Fecha inicio' | translate | async }}</th>
                    <th scope="col">{{ 'Fecha fin' | translate | async }}</th>
                    <th scope="col">{{ 'Acciones' | translate | async }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let studie of studies; index as i">
                    <td> {{ studie.institucion }}</td>
                    <td> {{ studie.nivel_academico }}</td>
                    <td> {{ studie.titulo_obtenido }}</td>
                    <td> {{ studie.pais }}</td>
                    <td> {{ studie.fecha_inicio }}</td>
                    <td> {{ studie.fecha_fin }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Registrar información académica' | translate | async }}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-academic-create [academic]="academic"></app-academic-create>
      </div>
    </div>
  </div>
</div>
