<form [formGroup]="createForm" (ngSubmit)="!createForm.invalid && create()">
  <div class="row">
    <div class="form-group col-lg-12">
      <label for="id_company" class="mt-4">{{ 'Empresa' | translate | async }}:</label>
      <select class="form-control" id="id_company" formControlName="id_company">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let company of companies" [value]="company.company_id">{{ company.name | translate | async }}</option>
      </select>
    </div>
    <div class="form-group col-lg-12">
      <label for="id_offer">{{ 'Oferta' | translate | async }}:</label>
      <select class="form-control" id="id_offer" formControlName="id_offer">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let offer of offers" [value]="offer.offer_id">{{ offer.name | translate | async }}</option>
      </select>
    </div>
    <div class="form-group col-lg-12">
      <label for="candidates">{{ 'Candidatos' | translate | async }}:</label>
      <select class="form-control" id="candidates" formControlName="candidates" multiple>
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let candidate of candidates" [value]="candidate.candidate.id_candidato">{{ candidate.candidate.Nombre+" "+candidate.candidate.apellido }}</option>
      </select>
    </div>
    <div class="form-group col-lg-12">
      <label for="date">{{ 'Fecha y hora' | translate | async }}:</label>
      <input class="form-control" id="date" type="datetime-local" formControlName="date">
    </div>
    <div class="form-group col-lg-12">
      <label for="link">URL Meet:</label>
      <input class="form-control" id="link" type="text" formControlName="link">
    </div>

    <div class="form-group col-lg-12">
      <label for="description" class="form-label">{{ 'Descripción' | translate | async }}</label>
      <textarea class="form-control" id="description" formControlName="description" rows="2"></textarea>
    </div>

  </div>

  <div class="text-right mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">{{ 'Guardar' | translate | async }}</button>
  </div>
</form>
