# Ejemplo de github action para probar python
# Docs: https://docs.github.com/es/actions/using-workflows/workflow-syntax-for-github-actions
name: CI/CD Pipeline Front

on:
  push:
    branches:
      - main
jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 16.x
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Install dependencies
      run: npm install
    - name: Build
      run: npm run build
    - name: Test
      run: npm test
    - name: Deploy to GCS
      env:
        GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      run: |
        gcloud auth activate-service-account --key-file=<(echo "$GCP_SA_KEY")
        gsutil -m cp -r dist gs://abc-jobs-miso-uniandes-g14
        gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
        mkdir abc-jobs-ui
        gsutil rsync -r gs://abc-jobs-miso-uniandes-g14  ./abc-jobs-ui
        cd abc-jobs-ui
        echo "y" | gcloud app deploy
